@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply mx-auto;
    @apply p-3;
    @apply max-w-2xl;
    @apply font-sans;
}

h1 {
    @apply text-4xl;
    @apply my-5;
}

a {
  color: #0645ad;
}

p {
    @apply my-2;
}

ul {
    @apply my-3;
    @apply list-disc;
    @apply list-outside;
    @apply ml-5;
}

p#lastupdate {
    @apply text-sm;
}


@media (prefers-color-scheme: dark) {
    html {
        background: rgb(30,30,30);
    }
    body {
        color: #ddd;
    }
    a {
        color: rgb(198, 140, 116);
    }
}
